/* NAVBAR AREA STYLES STARTED  */

.navbar-logo {
    width: 188px;
}

.nav-item {
    margin-left: 10px;
    border-radius: 999px !important;
    transition: .2s linear;
}

.nav-item:hover {
    background-color: #f0f0f0;
}

.nav-link {
    color: black !important;
    font-family: 'Oswald', sans-serif;
    padding: 8px 10px;
}

.fa-heart,
.fa-pencil,
.fa-bell {
    font-size: 18px;
}

.sign-in-link {
    background-color: black;
    width: 80px;
    text-align: center;
}

.sign-in-link:hover {
    background-color: black;
}

.sign-in-link>.nav-link {
    color: white !important;
    transition: .2s linear;
}

.sign-in-link>.nav-link:hover {
    background-color: #e9e9e94b;
}

/* NAVBAR AREA STYLES ENDED  */