/* NAVBAR AREA STYLES STARTED  */

.navbar {
    background-color: white;
}

.navbar-logo {
    width: 188px;
}

.nav-item {
    border-radius: 12px !important;
    transition: .2s linear;
    padding: 0px 12px;
    font-weight: 500;
}

.nav-item:hover {
    background-color: #f0f0f0;
}

.nav-link {
    color: black !important;
    font-family: 'Poppins', sans-serif;

}

.fa-heart,
.fa-pencil,
.fa-bell {
    font-size: 18px;
}

.sign-in-link,
.review-link {
    border: 1px solid black;
    text-align: center;
    padding: 0 15px;
}

.review-link:hover,
.sign-in-link:hover {
    background-color: black;
    color: white !important;
}

.review-link:hover .nav-link,
.sign-in-link:hover .nav-link {
    color: white !important;
}

/* NAVBAR AREA STYLES ENDED  */