.link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.userDashboard-section a {
  display: inline-block;
  text-decoration: none;
  color: black !important;
  font-family: "Oswald", sans-serif;
  padding: 6px 17px;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.userDashboard-section a.active {
  background: #34e0a1 !important;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  color: #fff !important;
}

/* edit profile section */

.form-section {
  background-color: #000000;
  padding: 20px 30px;
  border-radius: 8px;
  color: #fff;
}
.update-btn {
  background-color: #34e0a1;
  color: white;
  border: 0;
  margin-top: 23px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-weight: 700;
}

.edit-profile-section .form-control {
  color: #fff;
  background-color: #ffffff42;
  border-color: #34e0a1;
}

.edit-profile-section input:focus {
  box-shadow: unset;
}

@media screen and (max-width: 991px) {
  .form-section {
    width: 100% !important;
  }
}
